modules = ["web", "go-1.21", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41848739
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod tidy"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go build -o app"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./app"
